:root {
    font-family: 'Rubik';
    --btn-color: linear-gradient(135.67deg, #D444A7 7.58%, #F2656C 89.28%), #0A0139;
}

@media only screen and (max-device-width: 431px)  {
    html h3 {
        font-size: 17px;
    }
    
    html h2 {
        font-size: 30px;
    }
    
    html h1 {
        font-size: 40px;
    }
    
    html p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.7);
    }
}

#whatever-icon {
    width: 30px;
    height: 30px;
}

#nav-bar {
    position: fixed;
    background-color: none;
    box-shadow: none;
    box-sizing: border-box;

    width: 100%;
    height: 60px;

    transition: all ease-out 0.2s;
}

html:not([data-scroll='0']) #nav-bar {
    background-color: #fbeff7;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}


#nav-bar > ul {
    position: absolute;
    display: flex;
    align-items: center;

    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0 30px;
}


.download-btn {
    background: var(--btn-color);
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 15px;
}

.icon {
    width: 20px;
    height: 20px;
}

#nav-left {
    justify-content: flex-start;
    gap: 10px;
}

#nav-right {
    right: 0;
    justify-content: flex-end;
    gap: 30px;
}

a {
    text-decoration: none;
}

.wtv-img-one {
    position: absolute;
    object-fit: none;
    object-position: right;

    width: min(660px, calc((100% - 200px)/2));
    height: 1060px;
    max-width: 100%;
    box-sizing: border-box;   
    left: 0;
}

.wtv-img-two {
    position: absolute;
    object-fit: none;
    object-position: left;

    width: min(660px, calc((100% - 200px)/2));
    height: 1122px;
    max-width: 100%;
    box-sizing: border-box;
    right: 0;
}


main {
    position: absolute;
    background: radial-gradient(79.07% 78.6% at 73.79% 94.69%, rgba(243, 102, 109, 0.2) 0%, rgba(243, 102, 109, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(117.18% 71.1% at 57.27% 2.27%, rgba(213, 69, 168, 0.2) 0%, rgba(213, 69, 168, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container { 
    position: absolute;
    width: 600px;
    max-width: 90%;
}

#main-container {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#bottom-container {
    margin-top: 900px;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#card-row {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    height: 100%;
    width: 33%;
    background-color: white;
    border-radius: 20px;
}


.title-block {
    display: flex;
    width: 300px;
    max-width: 100%;

    align-items: center;
    justify-content: center;
    gap: 15px;
}

#btn-row {
    display: flex;
    padding-top: 50px;
}

h3 {
    font-size: 25px;
}

h2 {
    font-size: 35px;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}


.text-grad {
    background: linear-gradient(180deg, #D48E44 0%, #F2656C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
}

.text-grad > span {

    background: linear-gradient(180deg, #D48E44 0%, #F2656C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
}



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

@keyframes fluid {
    33% {
        transform: scale(calc(1 + var(--index)/var(--total)/2)) translateX(calc(var(--index) * 0.05em));
        opacity: 0.8;
    }       

    100% {
        transform: scale(1) translateX(0px) perspective(0px) skewX(0deg);
    }
}



.fluid-text-anim > span {
    display: inline-block;
    animation-name: fluid;
    opacity: 1;
    animation-duration: calc(0.05s + var(--index)/var(--total)/3 * 1s);
    animation-timing-function: ease-out;
    animation-delay: calc(var(--index) * 0.05s);
}
